@use "../../scss/variables" as v;


.card {
  width: 41.5rem;
  //min-height: 540px;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  border-radius: v.$bd-radius*2;
  overflow: hidden;

  &.beginner {
    .head {
      background: v.$secondary url("../../assets/images/lamp.svg") 95% center no-repeat;
    }

    &.current {
      border: 2px solid v.$secondary;
    }
  }

  &.pro {
    .head {
      background: v.$primary url("../../assets/images/aim.svg") 95% center no-repeat;
    }

    &.current {
      border: 2px solid v.$primary;
    }
  }

  &.business {
    .head {
      background: v.$black url("../../assets/images/notebook.svg") 95% center no-repeat;
      color: v.$text-light;
    }

    &.current {
      border: 2px solid v.$black;
    }
  }
}

.head {
  padding: 3rem;
  background-repeat: no-repeat;
  background-position: 95% center;

  h3 {
    margin-bottom: 1.5rem;
    font-size: 3rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem;
  min-height: 40.8rem;

  p {
    margin-bottom: 1.5rem;

  }
}

.price {
  p {

    &:first-of-type {
      font-weight: 500;
      font-size: 3rem;

      del {
        margin-left: 1.8rem;
        font-size: 2.5rem;
        //text-decoration: line-through;
        opacity: 0.5;
      }
    }

    &:last-of-type {
      white-space: nowrap; // ????
    }
  }
}

.desc {
  p {
    font-weight: 500;
    font-size: 2rem;
  }

  ul {
    padding-left: 2.5rem;
    list-style-type: none;
  }

  li {
    margin-bottom: 0.5rem;
    position: relative;

    &:after {
      display: block;
      content: url("../../assets/images/ok.png");
      width: 2rem;
      height: 2rem;

      position: absolute;
      top: 0;
      left: -2.5rem;
    }
  }
}
