@use "../../scss/variables" as v;
@use "../../scss/common";


%btn {
  //display: flex;
  //justify-content: center;
  //align-items: center;
  line-height: inherit;
  letter-spacing: 0.02em;

  padding: 1rem;
  color: inherit;
  //font-weight: inherit;

  border-radius: v.$bd-radius;
  @extend %hover;

  //@extend %transition;
  /*&:hover {
    opacity: 0.8;
  }*/

}

.btn {
  @extend %btn;

  &-smail {
    @extend %btn;
    padding: 1.7rem 3rem;
    width: 100%;
    font-size: 1.8rem;

    @media(min-width: 576px) {
      width: auto;
      font-size: 2rem;
    }
  }

  &-big {
    @extend %btn;
    font-weight: 500;
    padding: 1.6rem 3rem;
    width: 100%;
    font-size: 2rem;

    @media(min-width: 576px) {
      width: auto;
      font-size: 2.2rem;
    }
  }

  &-soc {
    @extend %btn;
    width: 9.6rem;
    height: 3.1rem;
    border: 0.1rem solid rgba(89, 112, 255, 0.51);
    border-radius: 0.3rem;
    padding: 0;

    & > svg {
      display: block;
      margin: auto;
      height: 1.8rem;
    }
  }
}

.primary {
  color: v.$text-dark;
  background-color: v.$primary;
}

.accent {
  color: v.$text-light;
  background-color: v.$accent;
}

.gray {
  color: v.$text-dark;
  background-color: v.$gray;
}
