@use '../../scss/variables' as v;
@use '../../scss/media' as *;

.list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  @include media-min-width($lg) {
    grid-template-columns: 1fr 1fr;
    gap: 3.8rem;
  }

  button {
    margin: 1.7rem auto 3.7rem;

    @include media-min-width($lg) {
      grid-column: 1 / 3;
      margin-top: 0;
    }
  }
}

