@use "../../scss/variables" as v;
@use "../../scss/media" as *;
@use "../../scss/common";
@use "../../scss/forms";


.form {
  display: flex;
  flex-direction: column;
  //color: #949494;
  margin-bottom: 3rem;

  /*label {
    margin-bottom: 1.5rem;
  }*/

  /*input {
    margin-bottom: 3rem;
    padding: 1.1rem;
    font-size: inherit;
    border: .1rem solid #C7C7C7;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.05);
    border-radius: v.$bd-radius;
  }*/
}

.errorMessage {
  @extend %error;
  @extend %error-message;

  position: unset;
  margin-top: 0.3rem;
}
