@use "./media" as *;


/*%transition {
  transition: all 0.3s ease-out;
}*/
%hover {
  transition: text-shadow .3s ease-out;

  &:hover {
    text-shadow: currentColor 0.1rem 0 1rem;
  }
}

%container {
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 4%;

  @include media-min-width($xl) {
    padding: 0 6rem;
  }
}
