@use "./media" as *;


/*%transition {
  transition: all 0.3s ease-out;
}*/
%hover {
  transition: text-shadow .3s ease-out;

  &:hover {
    text-shadow: currentColor 0.1rem 0 1rem;
  }
}

%container {
  margin: 0 auto;
  padding-left: 6rem;
  padding-right: 6rem;
  max-width: 144rem;
  min-width: 37.5rem;

  @include media-max-width($xl) {
    padding-left: 4%;
    padding-right: 4%;
  }
}
