@use './variables' as v;
@use './media' as *;

%input-group {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 3.5rem;
}

%label {
  padding-bottom: 1.5rem;
  //font-size: 1.6rem;
  //line-height: 1.9rem;
  //color: #949494;
  cursor: pointer;
}

%text-input {
  padding: 1.1rem;
  //padding: 1.2rem 1.9rem;
  //font-size: 1.6rem;
  //line-height: 1.9rem;
  //color: v.$black;
  //background-color: v.$white;
  border: .1rem solid #c7c7c7;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.05);
  border-radius: v.$bd-radius;
}

%error {
  //color: red;

  %text-input {
    color: #ff5959;
    border-color: #ff5959;
  }

  &-message {
    position: absolute;
    top: calc(100% + 0.6rem);
    width: 100%;
    font-size: 1.4rem;
    line-height: 1.7rem;
    text-align: center;
    color: #ff5959;
  }
}
