@use './variables' as v;

@forward 'react-datepicker/src/stylesheets/datepicker.scss' with (
  $datepicker__font-family: v.$body-font,
  $datepicker__font-size: 10px,
  $datepicker__item-size: 2.5rem ,
);
