@use "slick-carousel/slick/slick.scss";
@use "./variables" as v;
@use "./common";
@use "./media" as *;

@forward 'slick-carousel/slick/slick-theme.scss' with (
  $slick-arrow-color: v.$black,
  $slick-font-family: none
);

.slick-list {
  margin-left: 3.5rem;
  margin-right: 3.5rem;

  @include media-max-width($md) {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.slick-prev,
.slick-next {
  width: 2.6rem;
  height: auto;
  opacity: 0.4;
  //@extend %transition;
  transition: opacity .3s ease-out;

  &:hover {
    opacity: 1;
  }

  &:before {
    content: '';
  }
}

.slick-prev {
  left: 0;

  @include media-max-width($md) {
    left: -1rem;
  }
}

.slick-next {
  right: 0;

  @include media-max-width($md) {
    right: -1rem;
  }
}

.slick-track {
  display: flex;
}

.slick-slide {
  //display: flex !important;
  //height: auto;
}

.slick-slide div {
  //display: flex !important;
}
